html {
    border: 0;
    background-image: url('./bricks.jpeg');
    background-size: 300px;
}

html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.console {
    width: 55em;
    height: 100%;
    margin: auto;
    background-color: #dad9d5;
    box-shadow: inset -15px 7px 7px rgba(0, 0, 0, 0.422), inset 10px 10px 5px 5px #f9f7f5;
    padding-top: 2em;
    border-radius: 25px 25px 0px 0px;
}

.screen-border {
    display: flex;
    border: 1em solid #8a8c90;
    border-radius: 5px 5px 60px 5px;
    margin: auto;
    width: 40em;
    height: 43em;
    background-color: #8a8c90;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.566);
}

.screen {
    margin: 1em;
    border-radius: 5px 5px 40px 5px;
    padding: 1em;
    width: 36em;
    height: 39em;
    background-color: #abc620;
    box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.18);
}

.gameboard {
    padding-left: 2px;
    padding-top: 2px;
    border: solid black 1px;
    margin: auto;
    width: 35em;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: #abc620;
    border-color: #657610;
}

.gameboard > div > div {
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.row {
    height: 5%;
    border-bottom: solid #abc620 .1px;
    border-right: solid #abc620 .1px;
    display: flex;
}

.row > div {
    border-bottom: solid #abc620 .1px;
    border-right: solid #abc620 2px;
    width: 5%;
}

.row > div:hover {
    background-color: orange;
}

.screen-data {
    height: 4em;
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-div {
    display: flex;
    height: 100%;
    width: 35em;
}

.scores {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    height: 90%;
    width: 33%;
}

.scores > p {
    margin: .2em;
    font-family:monospace;
    font-size: large;
    font-weight: 500;
}

#mode {
    width: 33%;
    text-align: center;
    font-family:monospace;
    font-size: large;
    font-weight: 500;
}

.messages {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 33%;
}

.messages > p {
    margin: .2em;
    font-family:monospace;
    font-size: large;
    font-weight: 500;
    text-align: end;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5em;
}

.mode-div {
    display: flex;
    justify-content: center;
}

#mode-button {
    margin-left: 5em;
    background-color: #827e7d;
    border-radius: 10px;
    color: black;
    height: 2em;
    width: 8em;
}

#mode-button:active {
    background-color: #504e4e;
}

.arrows-div {
    display: flex;
    justify-content: space-evenly;
}

.vertical-arrows-div {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.horizontal-arrows-div {
    display: flex;
    margin-top: 4em;
}

#up-arrow {
    background-color: #827e7d;
    border-radius: 60px 60px 0px 0px;
    color: black;
    height: 5em;
    width: 5em;
}

#up-arrow:active {
    background-color: #504e4e;
}

#down-arrow {
    background-color: #827e7d;
    border-radius: 0px 0px 60px 60px;
    color: black;
    height: 5em;
    width: 5em;
}

#down-arrow:active {
    background-color: #504e4e;
}

#left-arrow {
    background-color: #827e7d;
    border-radius: 60px 0px 0px 60px;
    color: black;
    height: 5em;
    width: 5em;
}

#left-arrow:active {
    background-color: #504e4e;
}

#right-arrow {
    background-color: #827e7d;
    border-radius: 0px 60px 60px 0px;
    color: black;
    height: 5em;
    width: 5em;
}

#right-arrow:active {
    background-color: #504e4e;
}

@media only screen and (max-width: 889px) {

    .console {
        width: 45em;
        height: 65em;
        border-radius: 25px 25px 25px 25px;
    }

    .screen-border {
        width: 35em;
        height: 36em;
    }

    .screen {
        width: 31em;
        height: 32em;
    }
    
    .gameboard {
        width: 28em;
        height: 28em;
    }
    
    .screen-data {
        height: 4em;
        margin-top: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .message-div {
        width: 29em;
    }
    
    .scores > p {
        margin: .2em;
        font-family:monospace;
        font-size: large;
        font-weight: 400;
    }
    
    #mode {
        font-size: large;
        font-weight: 400;
    }
    
    .messages > p {
        font-weight: 300;
    }
    
    .buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1em;
    }
    
    .vertical-arrows-div {
        margin-top: .5em;
    }
    
    .horizontal-arrows-div {
        margin-top: 2em;
    }

}

@media only screen and (max-width: 768px) {

    .console {
        width: 40em;
        height: 60em;
    }

    .screen-border {
        width: 30em;
        height: 31em;
    }

    .screen {
        width: 26em;
        height: 27em;
    }
    
    .gameboard {
        width: 23em;
        height: 23em;
    }
    
    .screen-data {
        height: 3em;
    }
    
    .message-div {
        width: 25em;
    }
    
    .scores > p {
        font-size: medium;
    }
    
    #mode {
        font-size: medium;
    }
    
    .messages > p {
        font-size: medium;
    }
    
    .buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1em;
    }
    
    .vertical-arrows-div {
        margin-top: .5em;
    }
    
    .horizontal-arrows-div {
        margin-top: 2em;
    }

}

@media only screen and (max-width: 640px) {

    .console {
        width: 34em;
        height: 54em;
    }

    .screen-border {
        width: 27em;
        height: 27em;
    }

    .screen {
        width: 24em;
        height: 23em;
    }
    
    .gameboard {
        width: 20em;
        height: 20em;
    }
    
    .screen-data {
        height: 3em;
    }
    
    .message-div {
        width: 23em;
    }
    
    .scores > p {
        font-size: small;
    }
    
    #mode {
        font-size: small;
    }
    
    .messages > p {
        font-size: small;
    }
    
    .buttons {
        margin-top: 1em;
    }
    
    .vertical-arrows-div {
        margin-top: .5em;
    }
    
    .horizontal-arrows-div {
        margin-top: 2em;
    }
}

@media only screen and (max-width: 414px) {

    .console {
        margin-top: 0px;
        width: 25em;
        height: 46em;
    }

    .screen-border {
        width: 20em;
        height: 21em;
    }

    .screen {
        align-self: center;
        margin: 0px;
        width: 18em;
        height: 19em;
    }
    
    .gameboard {
        width: 17em;
        height: 17em;
    }
    
    .screen-data {
        height: 2em;
    }
    
    .message-div {
        width: 21em;
    }
    
    .scores > p {
        font-size: 10px;
    }
    
    #mode {
        font-size: 10px;
    }
    
    .messages > p {
        font-size: 8px;
    }
    
    .buttons {
        margin-top: .5em;
    }
    
    #mode-button {
        margin-left: 5em;
        background-color: #827e7d;
        border-radius: 10px;
        color: black;
        height: 1.5em;
        font-size: 12px;
        width: 6em;
    }
    
    .vertical-arrows-div {
        margin-top: .5em;
    }
    
    .horizontal-arrows-div {
        margin-top: 2em;
    }
}


@media only screen and (max-width: 390px) {

    .console {
        margin-top: 0px;
        width: 24.5em;
        height: 38em;
    }

    .screen-border {
        width: 19em;
        height: 20em;
    }

    .screen {
        align-self: center;
        margin: 0px;
        width: 17em;
        height: 18em;
    }
    
    .gameboard {
        width: 16em;
        height: 16em;
    }
    
    .screen-data {
        height: 2em;
    }
    
    .message-div {
        width: 19em;
    }
    
    .buttons {
        display: flex;
        justify-content: center;
    }
    
    #mode-button {
        font-size: 11px;
    }
}